.aloha-table-wrapper div.aloha-wai-red { background-image: none !important; }
.aloha-toolbar { display: none !important; }    

.toolbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

figure { counter-increment: figure; }
figure figcaption::before { content: "Figure 1." counter(figure) " "; font-weight: bold; }

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#editorspan { 
  background-color: #FAFAFA; 
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;  
}
   
#collectionspan {
  background-color: #99CCFF;
  border: 1px solid #ddd;
}  

.toolbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

figure { counter-increment: figure; }
figure figcaption::before { content: "Figure 1." counter(figure) " "; font-weight: bold; }

.aloha-image-upload-drop-box {
  text-align: center;
  border: 1px dashed #ccc;
  width: 400px;
  padding: 100px 0;
  cursor: pointer;
}

/* Metadata fields that occur around the image */
.aloha-image-attrib {
  
}
.aloha-image-attrib .aloha-image-attr-alt::before {
  content: "Please provide a description of this image for the visually impaired";
  color: #ccc;
  display: block;
}
/* Just some formatting of the input boxes */
.aloha-image-attrib input { display: block; }
.aloha-image-attrib .aloha-image-attr-alt {
  width: 400px;
  display: block;
}
