{% extends "master.html" %}
{% block editor %}

    <form name="fakeeditor" id="form1" >
     <fieldset name="Editor" > 
      <div class="field">
       <label class="input-label" for="title" >Title</label>
       <div class="input"> <input type="text" id="title" name="title" value="" > </div>
      </div>

 <div class="btn-toolbar">
  <div class="btn-group"> 
   <a href="#" id="savemodule" class="btn btn-inverse btn-mini nolink">
     <i class="icon-white icon-hdd"></i>Save</a>
   <a href="#" id="newmodule" class="btn btn-inverse btn-mini nolink">
     <i class="icon-white icon-file"></i> New</a>

   <a href="#" id="testbtn" class="btn btn-inverse btn-mini nolink">
     <i class="icon-white"></i>development testing</a>

   <a href="#" id="persona_signin" class="btn btn-inverse btn-mini nolink">
     <i class="icon-white"></i>Persona Signin</a>
   <a href="#" id="persona_signout" class="btn btn-inverse btn-mini nolink">
     <i class="icon-white"></i>Persona signout</a>


  </div>
</div>

    <div class="field">
      <div class="input">
       <textarea id="editarea" class="field span12 document" rows="15" >
         Enter Module Text Here...
       </textarea>
      </div> 
    </div>
    </fieldset>

    <fieldset name="hidden ACLs">

      <div class="field">
       <label class="input-label" for="uuid" >uuid</label>
       <div class="input"> <input id="uuid" name="uuid" value=""> </div>
      </div>

      <div class="field">
       <label class="input-label" for="aclrw" >aclrw</label>
       <div class="input"> <input id="aclrw" name="aclrw" value=""> </div>
      </div>

      <div class="field">
       <label class="input-label" for="contentrw" >contentrw</label>
       <div class="input"> <input id="contentrw" name="contentrw" value=""> </div>
      </div>

    </fieldset>


    </form>

   <hr/>


   <div id="responsearea">Console below:</div>

   <div id="logarea"></div>

{% endblock %}
