{% extends "layout.html" %}
{% block body %}

    <form name="fakeeditor" id="form1">

    Modulename:<input id="title" type="text" name="title" value="">

    <hr/>
     
    <textarea id="e2textarea">This is the module text</textarea> 


    <input id="uuid" name="uuid" value="">
    <input id="aclrw" name="aclrw" value="">
    <input id="contentrw" name="contentrw" value="">



    </form>

   <a class="nolink" href="#" id="save">Save.</a>

   <div id="responsearea">Console below:</div>
   <hr/>
   <div id="logarea"></div>

{% endblock %}
