<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
                                                                  
 <head> 

    <title>Connexions - Frozone Development</title>
    <link rel="stylesheet" type="text/css" href="/static/frozone.css" />


<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js"></script>
<!-- TinyMCE and the TinyMCE JQuery helper-->
<script type="text/javascript" src="http://<<cdn-server-name>>/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="http://<<cdn-server-name>>/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
<!-- From oerpub.editor (manual insert) -->

<script type="text/javascript" 
        src="http://<<cdn-server-name>>/tinymce/jscripts/tiny_mce/plugins/blockish/editor_plugin_src.js">
</script>

<script type="text/javascript" 
        src="http://<<cdn-server-name>>/tinymce/jscripts/tiny_mce/plugins/exercise/editor_plugin_src.js">
</script>

<script type="text/javascript" 
        src="http://<<cdn-server-name>>/tinymce/jscripts/tiny_mce/plugins/section/editor_plugin_src.js">
</script>

<script type="text/javascript" 
        src="http://<<cdn-server-name>>/tinymce/jscripts/tiny_mce/plugins/blockish/grammar.js">
</script>

<!-- Frozone client -->
<script type="text/javascript" src="http://<<www-server-name>>/static/conf.js"></script>
<script type="text/javascript" src="http://<<www-server-name>>/static/frozone_client.js"></script>




<!-- finally, initiate tinymce using oerpub.editor config -->
<script type="text/javascript" src="http://<<cdn-server-name>>/tinymce/tiny-init.js"></script>


</head>                                                                 

{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}
{% endfor %}



<body>                                                                  

<table>
<tr><td colspan="3" bgcolor="blue">
    <img src="http://cnx.org/internal-banner.gif">
   </td>
</tr>

{% block body %}
If you see this jinja2 did not work 
{% endblock %}

</table>

 </body>                                                                 
 </html>
