{% set cdnaloha = "/cdn/aloha" %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  {% block head %}
    <meta charset="utf-8">
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    {% block css %}
    <link rel="stylesheet" type="text/css" href="static/app.css"/>
    {% endblock %}{# css block #}

    {% block _js %}
    {# Global Javascript that shouldn't be overridden. #}
    <script type="text/javascript" src="https://login.persona.org/include.js"></script>
    <script type="text/javascript" src="static/lib/require-2.1.2.js" data-main="app.js"></script>
    {# TODO: Finish removing the global window.jQuery #}
    {# Load jQuery _after_ require so it registers 'jquery' but before Aloha so Aloha uses the same jQuery #}
    {# Currently Aloha loads its own for some reason so plugins that depend on bootstrap don't work #}
    <script type="text/javascript" src="static/lib/jquery-1.8.3.js"></script>
    {# Configure all the require/app plugins #}
    <script type="text/javascript" src="static/require.config.js"></script>
    {% endblock %}

    {% block js %}
  <script src="{{ cdnaloha }}/src/plugins/extra/math/lib/MathJax.js?config=TeX-MML-AM_HTMLorMML-full&amp;delayStartupUntil=configured"></script>

    <script type="text/javascript" src="static/authortools_mathjax_settings.js"></script>
    <script type="text/javascript" src="static/authortools_aloha_settings.js"></script>

    <script type="text/javascript" src="{{ cdnaloha }}/src/lib/aloha.js"
        data-aloha-plugins="
            extra/toolbar,
            common/ui,
            common/format,
            common/paste,
            common/block,
            common/list,
            common/table,
            extra/draganddropfiles,
            common/image,
            oerpub/popover,
            oerpub/math,
            oerpub/assorted"></script>


    <script type="text/javascript" src="conf.js"></script>
    <script type="text/javascript" src="static/authortools_client.js"></script>

    <script type="text/javascript">
      /* To be simple means to get current logged in USer back to JQuery*/
      var whoami = {
          userID      : "{{ g.user.userID }}",
          {% if g.user == None %}authenticated_identifier: null,{% else %}authenticated_identifier: "{{ g.user.authenticated_identifier }}", {% endif %}
          email       : "{{ g.user.email }}",
          name        : "{{ g.user.name }}"
      }
    </script>
    {% endblock %}{# js block #}
  {% endblock %}

</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated
          browser. <a href="http://browsehappy.com/">Upgrade your browser today</a>
          or <a href="http://www.google.com/chromeframe/?redirect=true">install
          Google Chrome Frame</a> to better experience this site.
        </p>
    <![endif]-->
  {% block body %}

    {# Start page navigation controls #}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	  <ul class="nav">
	    <li class="active">
	      <a class="brand" href="#">Connexions</a>
	    </li>
	    <li><a href="#">About</a></li>
	    <li><a href="#">MyCNX</a></li>

            <li class="dropdown">
              <a href="#"
                 class="dropdown-toggle"
                 data-toggle="dropdown">
                Tools
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a tabindex="-1" href="#import-modal"
                     id="import-link"
                     data-toggle="modal">Import</a>
                </li>
                <li><a tabindex="-1" href="#">Preview ...</a></li>
                <li>
                  <a tabindex="-1" href="#publish-modal"
                     id="publish-link"
                     data-toggle="modal">Publish</a>
                </li>
                <li>
                  <a id="roles-link" tabindex="-1" href="#">Roles Management</a>
                </li>
                <li>
                  <a tabindex="-1" href="#sharing-modal"
                     id="sharing-link"
                     data-toggle="modal">Sharing and Access Management</a>
                </li>
                <li>
                  <a id="metadata-link" tabindex="-1" href="#">Metadata</a>
                </li>
              </ul>
            </li>

            <li>
              {% if g.user %}
                <a href="{{ url_for('logout') }}">sign out [{{ g.user.name }}]</a>
              {% else %}
                <a href="{{ url_for('login') }}">sign in</a>
              {% endif %}
            </li>
          </ul>

          <ul class="nav pull-right">
            <li>
              <div id="usernamedisplay"></div>
            </li>
	  </ul>
        </div>
      </div>
    </div>
    {# End page navigation controls #}


    <!-- Content well -->
    <div class="container-fluid">
      <div class="row-fluid">

        <!-- Main content -->
        <div class="span9" id="main">
          {% block editor %}{% endblock %}
        </div>

        <!-- Collection Editor -->
        <div class="span3" id="collectionspan">
          <div id="workspaces"></div>
        </div>
      </div>
      <footer class="hide" >
        copyright &copy; 2012 connexions |
        <a href="http://www.dcarter.co.uk"> design by dcarter</a>
      </footer>
    </div> <!-- /.container-fluid -->

  {% endblock %}
</body>
</html>
