<label>Title</label>
<input required type="text" name="title" value="{{title}}">

<label>Language</label>
{{! The language select box will be populated by the view}}
<select required name="language"></select>

<label for="variantLanguage">Language variant</label>
<select name="variantLanguage"></select>

<label>Subjects</label>
{{! The subjects checkboxes will be populated by the view}}
<div class="subjects"></div>

<label>Keywords</label>
<input name="keywords" type="text" placeholder="keywords help people find this content"/>
